* {
	cursor: default;
}

li { 
	display:inline; 
}

textarea {
	border: 0;
	outline: none;
	resize: none;
	background-color: transparent;
}

#startButton{
	display: inline-block;
	background-color: black;
	color: white;
}

#inputScreen{
	width: 100%;
	height: 100%;
}

#writingScreen{
	display: none;
	background-color: black;
	color: white;
	width: 100%;
	height: 100%;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	font-size: 2em;
}

.randomChoice{
	margin-left: .5%;
	margin-right: .5%;
	outline: 1px solid white;
}

.suggestedChoice{
	margin-left: .5%;
	margin-right: .5%;
	outline: 1px solid white;
	background-color: white;
	color: black;
}

.line{
	height: 1em;
}

.lineGUIDE{
	background-color: grey;
}

.setup{
	float: left;
}

.word{
	margin-left: .5%;
}

.edit{
	background-color: blue;
}

#controlsContainer{
	position: fixed;
	outline: 1px solid gray;
	top: 75%;
	left: 0;
	width: 100%;
	height: 5%;
}

#choiceContainers{
	position: fixed;
	outline: 1px solid gray;
	top: 80%;
	left: 0;
	width: 100%;
	height: 20%;
}

#suggestedChoicesContainer{
	float: left;
	width: 50%;
	height: 100%;
}
#randomChoicesContainer{
	float: right;
	width: 50%;
	height: 100%;
}